body {
    width: 100%;
    background-color: #2F303A;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

header {

}

.header-links-container {
    
}

.welcome-message {
    color: #FFFFFF;
}

button {
    background-color: #1762A7;
    border-radius: 20px;
    color: #FFFFFF;
}

#contact-main {
    display: flex;
}

.contact-message-container {
    width: 50%;
}

.social-icon {
    width: 2vw;
}

.contact-form-container {
    width: 50%;
}

#about-main {
    display: flex;
}

.about-message-container {
    width: 50%;
}

.about-image-container {
    width: 30%;
}

.about-profile-image {
    border-radius: 500px;
}